nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
    margin-top: 20px;
}

.mySlides {
    display: none;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.blur-image {
    width: 100%;
    height: 100%;
    filter: blur(3px);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(48, 48, 48, 0.5);
}

.text, .text1 {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 54px;
    font-weight: bold;
    animation: moveText 15s infinite;
}

.text1 {
    top: 50%;
    left: 47%;
}

.text-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
}

.moving-text {
    display: inline-block;
    margin: 10px;
    animation: moveText 15s infinite;
}

@keyframes moveText {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}

.container.content-md.welcomeSection {
    padding: 50px 0;
}

.section1 {
    display: flex;
    align-items: center;
}

.col-md-6 {
    margin-bottom: 40px;
    padding: 20px;
}

.title-v2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: rgb(59, 59, 59);
}

p {
    text-align: justify;
    font-size: 20px;
    color: rgb(39, 39, 39);
    margin-bottom: 10px;
}
